<!doctype html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="flex min-h-screen flex-col">
    <a href="#main" class="sr-only focus:not-sr-only focus:fixed focus:top-2 focus:left-2 focus:z-50 focus:bg-paper focus:text-ink focus:px-4 focus:py-2 focus:font-marker focus:outline focus:outline-2 focus:outline-pink">Skip to content</a>
    <div class="paper-grain" aria-hidden="true"></div>
    {{ partial "header.html" . }}
    <main id="main" class="flex-grow">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
